<%- include('partials/header') %>
<div class="row">
  <div class="col-sm-6">
    <div id="contacts" class="container d-flex">
      <ul type="none" class="nav-links">
        <div>
          <% userList.forEach(user =>{ %>
            <% if(user.fullName!==name){ %>
            <li>
                <a class="contacts" id="<%= user.fullName %>" href=""
                  ><%= user.fullName %></a
                >
            </li>
            <% } %>
        <% }) %>
        </div>
      </ul>
    </div>
  </div>
  


<div id=mario-chat>
    <div id="chat-window">
        <div id="output"></div>
        <div id="feedback"></div>
      </div>
      <input type="text" id="handle" placeholder="Handle" value="<%= name %>" />
      <% if(message!== 'undefinded' && volunteerName!== 'undefinded'){ %>
        <input type="text" id="message" placeholder="Message" value="<%= message %>"/>
        <input type="text" id="sendto" placeholder="To:" value="<%= volunteerName%>"/>
      <% } else{ %>
        <input type="text" id="message" placeholder="Message" />
        <input type="text" id="sendto" placeholder="To:" />
      <% } %>

      <!-- <input type="text" id="message" placeholder="Message" />
      <input type="text" id="sendto" placeholder="To:" /> -->
      <button id="send">Send</button>
    </div>
  </div>


<a class="btn btn-light" role="button" href="/logout">Logout</a>



    
<%- include('partials/footer') %>
<!-- brew services start mongodb-community@4.4 -->
<!-- email: 'skncdc@gm.com', -->
<!-- password: '123', -->
